@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap')

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-gap: 2px;
}

body {
  background-color: #3b3e4d;
}

/* Header Section */

div.leftside {
  background-color: #FEDCD2;
  border: solid #3b3e4d 2px;
  border-radius: 10px;
}

h1 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 85px;
  color: #3b3e4d;
  text-align: center;
  margin: 10px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h4 {
  font-family: 'Red Hat Display', sans-serif;
  color: #3b3e4d;
  font-size: 22px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  margin: 5px;
}

/* Popular Searches Section */

div.popular {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #6d7993; */
}

div.popular > button {
  margin-top: 20px;
  width: 150px;
  height: 50px;;
}

/* Search Section */
div.header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 600px;
  background-image: url("./images/PictureBase.jpg");
  background-size: cover;

}

input {
  border: solid #3b3e4d 3px;
  width: 350px;
  height: 40px;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: 'Red Hat Display', sans-serif;
  color: #3b3e4d;
}

button {
  border: solid #3b3e4d 3px;
  height: 47px;
  text-align: center;
  margin:0 0 25px 5px;
  background-color: #FEDCD2;
  font-size: 20px;
  font-family: 'Red Hat Display', sans-serif;
  color: #3b3e4d;
}

button:hover {
  background-color: white;
  color: #3b3e4d;
  border: solid 2px #FEDCD2;
}

div.index {
  /* padding-top: 20px; */
  grid-column: 1/-1;
  background-color: #3b3e4d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.footer {
  background-color: #FEDCD2;
  grid-column: 1/-1;
}