@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap')

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-gap: 2px;
}

body {
  background-color: #3b3e4d;
}

/* Header Section */
h1 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 75px;
  color: #3b3e4d;
  text-align: center;
  margin: 10px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #3b3e4d;
  font-size: 20px;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

/* Search Section */
div.header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 600px;
  background-image: url("./images/PictureBase.jpg");
  background-size: cover;

}

input {
  border: solid #3b3e4d 3px;
  width: 350px;
  height: 40px;
  text-align: center;
  margin-bottom: 25px;
}

button {
  border: solid #3b3e4d 3px;
  height: 46px;
  text-align: center;
  margin:0 0 25px 5px;
  background-color: white;
}

div.index {
  padding-top: 20px;
  grid-column: 1/-1;
  background-color: ghostwhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.footer {
  background-color: #FEDCD2;
  grid-column: 1/-1;
}